:root{
 /*color var*/
--Blue: hsl(246, 80%, 60%);

--Lightred : hsl(15, 100%, 70%);
--Softblue: hsl(195, 74%, 62%);
--Lightredw: hsl(348, 100%, 68%);
--Limegreen: hsl(145, 58%, 55%);
--Violet: hsl(264, 64%, 52%);
--Softorange: hsl(43, 84%, 65%);

--Verydarkblue: hsl(226, 43%, 10%);
--Darkblue: hsl(235, 46%, 20%);
--Desaturatedblue: hsl(235, 45%, 61%);
--PaleBlue: hsl(236, 100%, 87%);



}

body{

    background-color: var(--Verydarkblue);
    font-family: 'Rubik', sans-serif;

}
 /*bottom from front-end*/
.attribution { 

    font-size: 11px;
    text-align: center;

}
  .attribution a { 

      color: hsl(228, 45%, 44%);

}

/*card */

main{

    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
     
}


.container{

    
    display: flex;
    flex-direction: row;
    gap: 2rem;
    height: 30rem;
}

/*card */

/*card-left*/

.maincard{

    background-color: var(--Darkblue);
    border-radius: 1rem;
}


.profile{

    display: flex;
    flex-direction: column;
    background-color: var(--Blue);
    height: 70%;
    border-radius: 1rem;
    gap: 2rem;
    
    
}

.profile h1 {

    margin: 0;
    width: 5rem;
    margin-left: 1.5rem;
    font-size: 2.5rem;
    font-weight: 300;
    color: #fff;

}

.profile p {

    margin: 0;
    width: 5rem;
    margin-left: 1.5rem;
    color: var(--PaleBlue);
}


.btnselection a {

    display: flex;
    flex-direction: column;
    margin: 0;
    margin-left: 1.5rem;
    margin-top: 1.3rem;
    color: var(--PaleBlue);
    opacity:  0.5;
    cursor: pointer;

}


.profileimg{

    width:25%;
    border-radius: 50%;
    border: 2px solid #fff;
    margin-left: 1.5rem;
    margin-top: 1.5rem;
    
}

/*card-left*/

/*card-right*/

/*background cards*/

/*text from boxes*/
.text{

    border-radius: 0.7rem;
    margin-top: 2.1rem;
    background: var(--Darkblue);
    padding: 1.8rem 2rem 2rem 2rem;
    width: 73%;
    display: flex;
    flex-direction: column;
    color: #fff;
}

.text p:first-child{

    font-size: 18px;

}

.text p:first-child::after{

    content: "...";
    float:right;
    font-size: 2rem;
    margin:0;
    cursor: pointer;
    transform: translateY(-19px);
    color: var(--PaleBlue);
    
}

.text p:first-child:hover::after{

    color: #fff;
}

.text p:nth-child(2){

    font-size: 3rem;
    font-weight: 300;
}

.text p:last-child{

    margin-top: 1rem;
    color: var(--PaleBlue);
    font-size:15px;
}

.text p {
    margin: 0;
}
/*text from boxes*/

/* bg box position*/
.work .bg{

    height: 20%;
    background: url("images/icon-work.svg") no-repeat, var(--Lightred) ;
    background-position: 9rem -1rem;
    
}
.play .bg{

    height: 20%;
    background: url("images/icon-play.svg") no-repeat, var(--Softblue) ;
    background-position: 9rem -1rem;
}

.study .bg{

    height: 20%;
    background: url("images/icon-study.svg") no-repeat, var(--Lightredw) ;
    background-position: 9rem -1rem;
}

.exercise .bg{

    height: 20%;
    background: url("images/icon-exercise.svg") no-repeat, var(--Limegreen) ;
    background-position: 9rem -0.1rem;
}

.social .bg{

    height: 20%;
    background: url("images/icon-social.svg") no-repeat, var(--Violet) ;
    background-position: 9rem -1rem;

}

.selfcare .bg{

    height: 20%;
    background: url("images/icon-self-care.svg") no-repeat, var(--Softorange) ;
    background-position: 10rem -0.8rem;
}
.bg{
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
}

/* bg box position*/

/*card positioning and textposition*/

.othercards{

    display: flex;
    flex-direction:column;
    gap: 2rem;
}

.cardstop{

    display: flex;
    flex-direction:row;
    height: 50%;
    gap: 2rem;
}

.box{

    background-color: var(--Darkblue);
    display: flex;
    flex-direction: column;
    width: 15rem;
    border-radius: 0.8rem;

}

.text:hover{

    filter: brightness(150%);
    
}


.period{
    float: right;
}

.cardsbot{

    display: flex;
    flex-direction: row;
    height: 50%;
    gap: 2rem;
}

/* box */



/* box */

/*card-right*/